@font-face {
    font-family: 'Noto-Light';
    src: url('//at.alicdn.com/t/webfont_vycr3e6aggc.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/webfont_vycr3e6aggc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_vycr3e6aggc.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_vycr3e6aggc.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_vycr3e6aggc.svg#思源黑体-极细') format('svg');
    /* iOS 4.1- */
}



.mix-contarner {
    background: #eee;
    padding: 0;
    margin: 0;
    font-family: Noto-Light;
    
}

.mix-title {
    font-weight: 300;
    font-size: 1.2em
}

.mix-input {
    height: 44px;
    outline: 1px solid gray;
    display: flex;
    margin: 24px;
    border: none;
    background: white;
    font-size: 1.2em;
    font-weight: 300;
    width: 70%;
    padding: 0.5em;
}

.mix-today-label{
    width: 8px;
}

.mix-textarea {
    outline: 1px solid gray;
    display: flex;
    border: none;
    margin: 24px;
    padding: 0.5em;
    background: white;
    font-size: 1.2em;
    font-weight: 300;
    width: 70%;
}

.mix-avatar-upload {
    height: 4em;
    width: 4em;
    border-radius: 0.2em;
    background-color: #cecece;
    background-size: 100%;
}

.mix-user-image-upload{
    height: 12em;
    width: 12em;
    border-radius: 0.2em;
    background-color: #cecece;
    background-size: 100%;
}
.mix-cards{
    padding: 0
}

.center{
    text-align: center;
}
.mix-card{
    height: 88px;
    border-bottom: 1px dashed black;
    list-style:none;
    margin-bottom: 1em;
    padding: 1em;
    text-decoration:none;
    display: block;
    color:black;
}
.mix-pannel {

    margin: 5%;
    width: 86%;
    padding: 2%;
    background: white;
    height: 90%;
}

.mix-btn-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 99;
    background: black;
    display: flex;
}

.mix-btn {
    height: 56px;
    flex: 1;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.8em;
    background: black;
    border: none;
    color: white;
}
.mix-btn-change{
    width: 40%;
    left: 30%;
    height: 56px;
    border-radius: 56px;
    background: black;
    color:white;
    font-size: 1em;
    font-weight: 300;
    position: fixed;
    bottom:88px;
    text-align: center;
    z-index: 99;
    outline:none;
}
.mix-btn-color-pink{
    background:pink;
    color:black;
}
.mix-btn-color-greenyellow{
    background:greenyellow;
    color:black;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 199;
    background: black;
}

#loading h4 {
    color: white;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
    animation: colorsAni 0.5s infinite;
}

.mix-info {
    font-size: 0.8em;
    font-weight: 300;
    display: block;
    text-decoration: none;
}

@keyframes colorsAni {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}